* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(102, 102, 225);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(43, 29, 132);
  font-size: 1.05rem;
}

.left {
  font-size: 1.7rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  margin: 80px 0;
  align-items: center<a href="/" >;
}

.firstSection>div {
  width: 30%;
}

.leftSection {

  width: 50%;
  font-size: 3rem;
  margin: 30px 0;
}

.rightSection img {
  margin: 50px 0;

}

.name {
  color: rgb(165, 30, 30);
}

#element {
  color: rgb(165, 30, 30);
}

main hr {
  border: 0;
  background: #9c979c;
  height: 1.2px;
  margin: 40px 84px;
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.secondSection h1 {
  font-size: 1.9rem;
}

.text-gray {
  color: grey;
}

.secondSection .box {
  background: white;
  width: 77vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.secondSection .vertical {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 140px;
}

.image-top {
  width: 25px;
  position: relative;
  top: -32px;
  left: -9px;
}

.vertical-title {
  position: relative;
  top: 100px;
  width: 150px;
  left: -145px;

}

.vertical-desc {
  position: relative;
  top: 180px;
  color: grey;
  width: 150px;
  font-size: 9px;
  left: -280px;
}

footer {
  background-color: #0e0e1a;

}

.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}

.footer ul {
  list-style: none;
}

.footer>div {
  width: 223px;
}

footer .footer-rights {
  text-align: center;
  color: grey;
  padding: 12px 0;
}